In [18]:
import pandas as pd

In [19]:
df = pd.read_csv("./deployable_models/RELIANCE_xgb_5.csv").set_index("datetime")
df.head()

,open,high,low,close,volume,ml_target,ml_target_short,resistance,support,prev_close,...,sr_range_atr,resistance_breakout_strength,support_breakdown_strength,resistance_breakout_conviction,support_breakdown_conviction,breakout_volume_ratio,resistance_touch_count,support_touch_count,ml_target_combined,y_pred
datetime,,,,,,,,,,,,,,,,,,,,,
2018-01-03 14:20:00+05:30,455.93,456.18,455.68,455.78,73022,0,0,456.35,455.53,455.93,...,1.498089,0.0,0.000000,-1.0,-1.000000,0.544504,3.0,2.0,0,1
2018-01-03 14:25:00+05:30,455.90,456.03,455.14,455.19,113640,0,0,456.25,455.53,455.78,...,1.561905,0.0,0.000000,-1.0,-0.500000,1.033549,2.0,2.0,0,1
2018-01-03 14:30:00+05:30,455.19,455.33,454.19,454.96,226490,0,0,456.25,455.19,455.19,...,1.353020,0.0,0.638926,-1.0,0.382022,1.667195,1.0,3.0,0,1
2018-01-03 14:35:00+05:30,455.04,455.06,453.70,454.12,232466,0,0,456.15,454.96,454.96,...,1.885642,0.0,0.409149,-1.0,0.201754,3.031203,0.0,4.0,0,1
2018-01-03 14:40:00+05:30,454.15,454.15,452.24,453.82,402720,0,0,456.15,454.12,454.12,...,1.901826,0.0,1.342466,-1.0,0.617647,2.775783,0.0,5.0,0,1

In [22]:
masked_df = df[((df["ml_target_short"] == 1) | (df["ml_target"]==1)) & (df["low"] <=df["support"])]
masked_df = masked_df.loc["2026-01-01" : "2026-02-02"]
masked_df[["ml_target", "ml_target_short", "support", "resistance"]]

                           ml_target  ml_target_short  support  resistance
datetime
2026-01-01 15:10:00+05:30          0                1   1577.3      1579.5
2026-01-02 14:25:00+05:30          1                0   1590.3      1591.8
2026-01-06 15:20:00+05:30          1                0   1505.5      1508.2
2026-01-07 09:20:00+05:30          1                0   1505.9      1509.7
2026-01-08 14:35:00+05:30          1                0   1470.4      1471.9
2026-01-09 09:20:00+05:30          1                0   1469.0      1472.0
2026-01-12 09:20:00+05:30          0                1   1471.2      1476.0
2026-01-13 09:20:00+05:30          0                1   1481.8      1484.0
2026-01-13 13:55:00+05:30          0                1   1454.5      1455.8
2026-01-13 15:05:00+05:30          0                1   1448.3      1453.9
2026-01-13 15:10:00+05:30          1                0   1446.3      1451.3
2026-01-14 12:20:00+05:30          1                0   1460.6      1465.6
2026-01-14 15:20:00+05:30          1                0   1457.1      1462.8
2026-01-19 11:40:00+05:30          0                1   1408.8      1409.9
2026-01-21 13:40:00+05:30          1                0   1405.3      1409.3
2026-01-21 14:25:00+05:30          0                1   1405.3      1410.1
2026-01-22 15:25:00+05:30          1                0   1401.6      1404.5
2026-01-23 09:20:00+05:30          1                0   1401.6      1404.5
2026-01-28 10:20:00+05:30          1                0   1394.4      1402.2
2026-01-28 11:45:00+05:30          1                0   1400.2      1401.9
2026-01-29 10:35:00+05:30          0                1   1389.7      1392.0
2026-01-29 11:45:00+05:30          1                0   1392.1      1395.6
2026-01-29 13:35:00+05:30          1                0   1392.6      1397.7
2026-01-30 10:30:00+05:30          1                0   1387.4      1389.2
2026-01-30 10:55:00+05:30          1                0   1387.2      1389.9
2026-01-30 15:00:00+05:30          1                0   1390.3      1396.9
2026-02-01 09:20:00+05:30          1                0   1390.3      1397.3
2026-02-01 12:15:00+05:30          0                1   1403.7      1409.7

In [28]:
masked_df = df.loc["2026-01-01" : "2026-01-02"]
masked_df[["ml_target", "ml_target_short", "support", "resistance"]]

                           ml_target  ml_target_short  support  resistance
datetime
2026-01-01 09:20:00+05:30          0                0   1567.9      1576.3
2026-01-01 09:25:00+05:30          0                0   1567.9      1576.3
2026-01-01 09:30:00+05:30          0                0   1567.9      1579.5
2026-01-01 09:35:00+05:30          0                0   1567.9      1588.7
2026-01-01 09:40:00+05:30          0                0   1567.9      1588.7
...                              ...              ...      ...         ...
2026-01-01 15:10:00+05:30          0                1   1577.3      1579.5
2026-01-01 15:15:00+05:30          0                0   1576.8      1579.0
2026-01-01 15:20:00+05:30          0                0   1575.0      1579.0
2026-01-01 15:25:00+05:30          0                0   1573.9      1579.0
2026-01-01 15:30:00+05:30          0                0   1572.1      1578.9

[75 rows x 4 columns]